/* Header styles */
body {
    background: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: fit-content;
  }
  
  header {
    color: black;
  }
  
  h1 {
    text-align: center;
  }
  
  
  a{
    text-decoration: none;
  }
  
  #headerText {
    text-align: center;
    padding: 25px;
  }
  
  /* Table holder */
  .llable {
    width: fit-content;
    background-color: rgb(255, 255, 255);
    border-top: 2px solid blanchedalmond;
    border-radius: 5px;
    padding: 1%;
  }
  
  /* Grid set up */
  
  .conta {
    display: grid;
    grid-template-columns: repeat(18, 5vw);
    gap: .4vw;
  }
  
  .item {
    background-color: rgb(60, 60, 60);
    border: 3px solid blanchedalmond;
    border-radius: 8px;
    width: 5vw;
    height: 5vw;
  }
  
  /*.upperSection {}*/
  
  .lowerSection {
    padding-top: 2vh;
  }
  
  /* element styling */
  
  .atNum {
    font-size: .75vw;
    text-align: right;
    margin: 0.25vw;
  }
  
  .symbol {
    font-size: 1.75vw;
    font-weight: bold;
    text-align: center;
    margin: 0vw auto;
  }
  .name {
    font-size: .5vw;
    font-weight: bold;
    text-align: center;
    margin: 0vw auto;
  }
  
  .nonmetal {
    color: #DC123C;
    border-color: springgreen;
    background-color: rgb(0,255,127);
  }
  
  .noble {
    color: red;
    border-color: orchid;
    background-color: rgb(	218,112,214);
  
  }
  
  .alkaliMetal {
    color: #000000;
    border-color: gold;
    background-color: rgb(255,215,0);
  }
  
  .alkaliEarthMetal {
    color: black;
    border-color: yellow;
    background-color: rgb(255,255,0);
  }
  
  .na {
    color: olivedrab;
    border-color: gainsboro;
    background-color: rgb(220,220,220);
  }
  
  .postTransitionMetal {
    color: black;
    border-color: mediumturquoise;
    background-color: rgb(72,209,204);
  }
  
  .metalloid {
    color: black;
    border-color: aqua;
    background-color: rgb(0,255,255);
  }
  
  .transitionMetal {
    color: black;
    border-color: salmon;
    background-color: rgb(	250,128,114);
  }
  
  .lanthanide {
    color: black;
    border-color: burlywood;
    background-color: rgb(222,184,135);
  }
  
  .actinide {
    color: black;
    border-color: palevioletred;
    background-color: rgb(	219,112,147);
  }
  
  .hidden {
    opacity: 0;
  }
  
  
  /* Hover states for groups */
  .nonmetal:hover {
    background-color: rgb(0,255,127);
    transform: scale(1.1);
    transform: rotate(5deg);
  }
  
  .noble:hover {
    background-color: rgb(218,112,214);
    transform: scale(1.1);
    transform: rotate(5deg);
  }
  
  .alkaliMetal:hover {
    background-color: rgb(255,215,0);
    transform: scale(1.1);
    transform: rotate(5deg);
  }
  
  .alkaliEarthMetal:hover {
    background-color: rgb(255,255,0);
    transform: scale(1.1);
    transform: rotate(5deg);
  }
  
  .na:hover {
    background-color: rgb(220,220,220);
    transform: scale(1.1);
    transform: rotate(5deg);
  }
  
  .postTransitionMetal:hover {
    background-color: rgb(72,209,204);
    transform: scale(1.1);
    transform: rotate(5deg);
  }
  
  .metalloid:hover {
    background-color: rgb(0,255,255);
    transform: scale(1.1);
    transform: rotate(5deg);
  }
  
  .transitionMetal:hover {
    background-color: rgb(	250,128,114);
    transform: scale(1.1);
    transform: rotate(5deg);
  }
  
  .lanthanide:hover {
    background-color: rgb(222,184,135);
    transform: scale(1.1);
    transform: rotate(5deg);
  }
  
  .actinide:hover {
    background-color: rgb(219,112,147);
    transform: scale(1.1);
    transform: rotate(5deg);
  }